<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learning Tech Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>

    <div class="container-3">
      <div class="container-2">
        <div class="container-1">
          <p class=" count is-size-2" id="totaltickets"> <u>Total Requests: <%=body[0].count + body[1].count + body[2].count%></u></p>
          <div class="container-flex">
            <%oldest_req = undefined%>
            <%today = new Date();%>
            <%for (var i = 0; i < 3; i++){ %>
            <div class="box req-box content">
              <h1 class="title is-4"><%=name[i]%></h1>
              <h2 class="subtitle is-4">Number of Requests: <strong><%=body[i].count%></strong></h2>
              <h1 class = "is-size-4"> Oldest Request:</h1>
              <ul>
                <%if (body[i].oldest != undefined) { %>
                <li class="is-size-5">Last Modified On: <%= body[i].oldest.sys_updated_on %> </li>
                <%if (oldest_req == undefined || Math.abs(today - body[i].oldest.sys_updated_on) > Math.abs(today - oldest_req.sys_updated_on)) { oldest_req = body[i].oldest } %>
                <%} else {%>
                <li class="is-size-5"> N/A</li>
                <%}%>
              </ul>
              <%if (body[i].oldest != undefined) {%>
              <h1 class = "is-size-4">Request Details:</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th>Req Number</th>
                    <th>State</th>
                    <th>Short Description</th>
                  </tr>
                </thead>
                <tbody class="tickets">
                  <tr>
                      <th><%=body[i].oldest.number%></th>
                      <%if (body[i].oldest.state == 1) {%>
                        <th>New</th>
                      <%} else {%>
                        <th>Open</th>
                      <%}%>
                      <th><%=body[i].oldest.short_description%></th>
                  </tr>
                </tbody>
              </table>
              <%} %>
            </div>
            <%}%>
          </div>
          <div class="container-flex">
            <div class=" box old-box content">
              <!-- OLDEST REQ IMPL -->
              <h1 class= "title"><u>Oldest Request:</u>
              <%if (oldest_req != undefined) {%>
                <%keys = Object.keys(oldest_req)%>
                <i>
                  <%=oldest_req.number%>
                </i>
              </h1>
              <h2 class="subtitle is-5">
                <u>Description:</u> 
                  <i>
                    <%=oldest_req.short_description%>
                  </i>
                <br>
                <u>State:</u>
                  <%if (oldest_req.state == 1) {%>
                    <i>New</i>
                  <%} else {%>
                    <i>Open</i>
                  <%}%>
              </h2>
              <%} else {%>
                <li>N/A</li>
              <%}%>
            </div>
          </div>
        </div>
        <br>
        <div class="container-1 inc">
          <p class=" count is-size-2" id="totaltickets"> <u>Total Incidents: <%=body[3].count + body[4].count%></u></p>
          <div class="container-flex">
            <%oldest_inc = undefined%>
            <%for (var i = 3; i < 5; i++){ %>
            <div class="box inc-box content">
              <h1 class="title "><%=name[i]%></h1>
              <h2 class="subtitle is-3">Number of Incidents: <strong><%=body[i].count%></strong></h2>
              <h1 class = "is-size-4"> Oldest Incident:</h1>
              <ul>
                <%if (body[i].oldest != undefined) { %>
                <li class="is-size-5">Last Modified On: <%= body[i].oldest.sys_updated_on %> </li>
                <%if (oldest_inc == undefined || Math.abs(today - body[i].oldest.sys_updated_on) > Math.abs(today - oldest_inc.sys_updated_on)) { oldest_inc = body[i].oldest }%>
                <%} else {%>
                <li class="is-size-5"> N/A</li>
                <%}%>
              </ul>
              <%if (body[i].oldest != undefined) {%>
              <h1 class = "is-size-4">Incident Details:</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th>Req Number</th>
                    <th>State</th>
                    <th>Short Description</th>
                  </tr>
                </thead>
                <tbody class="tickets">
                  <tr>
                      <th><%=body[i].oldest.number%></th>
                      <%if (body[i].oldest.state == 1) {%>
                        <th>New</th>
                      <%} else {%>
                        <th>Open</th>
                      <%}%>
                      <th><%=body[i].oldest.short_description.substring(0,50)%></th>
                  </tr>
                </tbody>
              </table>
              <%}%>
            </div>
            <%}%>
          </div>
          <div class="container-flex">
            <div class=" box old-box content">
              <!-- OLDEST INC IMPL -->
              <h1 class= "title"><u>Oldest Incident:</u>
              <%if (oldest_inc != undefined) {%>
                <%inc_keys = Object.keys(oldest_inc)%>
                <i>
                  <%=oldest_inc.number%>
                </i>
              </h1>
              <h2 class="subtitle is-5">
                <u>Description:</u> 
                  <i>
                    <%=oldest_inc.short_description%>
                  </i>
                <br>
                <u>State:</u>
                  <%if (oldest_inc.state == 1) {%>
                    <i>New</i>
                  <%} else {%>
                    <i>Open</i>
                  <%}%>
              </h2>
              <%} else {%>
                <li>N/A</li>
              <%}%>
            </div>
          </div>
      </div>
      </div>
 
      </div>

    <script src= "js/dashboard.js" type="text/javascript"></script>
  </body>
</html>
