<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  <%if (body.ticketnum > 5) { %>
    <section class="hero is-danger">
  <% }else { %>
    <section class="hero is-success">
  <% }%>
      <div class="hero-body is-success">

        <div class="container">
          <p class ="title"> Total Tickets: <%=body.lms.length + body.multimedia.length + body.pollev.length%></p>
          <p class="subtitle">
             Total Canvas/Catalyst Tickets: <%=body.lms.length%> <br>
             Total Multimedia Tickets: <%=body.multimedia.length%> <br>
             Total Poll Everywhere Tickets: <%=body.pollev.length%> <br>
          </p>
        </div>
      </div>

    </section>
    <section>
      <div class="box-container">
        <div class="box">
          <table class="table">
            <thead>
              <tr>
                <th>Canvas and Catalyst</th>
              </tr>
              <tr>
                <th>REQ NAME</th>
                <th>STATUS</th>
                <th>DESCRIPTION</th>
                <th>LAST MODIFIED</th>
              </tr>
            </thead>
            <tbody class="canvasRequest">
              <%body.lms.forEach(function(req){ %>
                <tr>
                  <th><%=req.number%></th>
                  <th><%=req.state%></th>
                  <th><%=req.description.substring(0, 20)%>...</th>
                  <th><%=req.sys_updated_on%></th>
                </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <div class="box">
          <table class="table">
            <thead>
              <tr>
                <th>Multimedia</th>
              </tr>
              <tr>
                <th>REQ NAME</th>
                <th>STATUS</th>
                <th>DESCRIPTION</th>
                <th>LAST MODIFIED</th>
              </tr>
            </thead>
            <tbody class="multimediaRequest">
              <%body.multimedia.forEach(function(req){ %>
                <tr>
                  <th><%=req.number%></th>
                  <th><%=req.state%></th>
                  <th><%=req.description.substring(0, 20)%>...</th>
                  <th><%=req.sys_updated_on%></th>
                </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <div class="box">
          <table class="table">
            <thead>
              <tr>
                <th>Poll Everywhere</th>
              </tr>
              <tr>
                <th>REQ NAME</th>
                <th>STATUS</th>
                <th>DESCRIPTION</th>
                <th>LAST MODIFIED</th>
              </tr>
            </thead>
            <tbody class="pollevRequest">
              <%body.pollev.forEach(function(req){ %>
                <tr>
                  <th><%=req.number%></th>
                  <th><%=req.state%></th>
                  <th><%=req.description.substring(0, 20)%>...</th>
                  <th><%=req.sys_updated_on%></th>
                </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script src= "js/dashboard.js" type="text/javascript"></script>
  </body>
</html>
